

app:
  name: "kelbi-api"
  image: "ghcr.io/invasor-de-fronteiras/kelbi-api:sha-426c821"
  replicas: 1

config:
  env: kelbi-api-secrets
  port: 8080
network:
  expose: true
  domain: "kelbi-api.arcamh.com"

health_check:
  path: /health

resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5

volumes:
  - name: static
    hostPath:
      path: /root/volumes/kelbi/static
      type: Directory

volumeMounts:
  - name: "static"
    mountPath: /data/assets

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000
