

app:
  name: "halk-patch-server-release"
  image: "ghcr.io/invasor-de-fronteiras/halk-patch-server:sha-7bacf54"
  replicas: 1

config:
  env: kelbi-hatch-server-secrets
  port: 4000

resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5