

app:
  name: "kelbi-cdb"
  image: "nginx:1.29-alpine"
  replicas: 1

config:
  port: 80

network:
  expose: true
  domain: "cdn.arcamh.com"

health_check:
  path: /health

resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5

volumes:
  - name: static
    hostPath:
      path: /root/volumes/kelbi/static
      type: Directory
  - name: nginx-conf
    configMap:
      name: prod-kelbi-cdn-kelbi-cdb
volumeMounts:
  - name: "static"
    mountPath: /data/assets
  - name: nginx-conf
    mountPath: "/etc/nginx"
    readOnly: true

configmapData:
  name: prod-kelbi-cdn-kelbi-cdb
  contents:
    nginx.conf: |
      events {
        worker_connections 1024;
      }

      http {
        server {
          location /assets {
            alias /data/assets;
            autoindex on;
          }

          location /health {
            access_log off;
            add_header 'Content-Type' 'text/plain';
            return 200 "healthy\n";
          }
        }
      }