

app:
  name: "kelbi-cdb"
  image: "nginx:1.27-alpine"
  replicas: 1

config:
  port: 80

network:
  expose: true
  domain: "cdn.arcamh.com"

health_check:
  path: /health

resources:
  limits:
    cpu: 300m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5

volumes:
  - name: static
    hostPath:
      path: /root/volumes/kelbi/static
      type: Directory
  - name: cache-dirs
    hostPath:
      path: /var/cache/nginx
      type: DirectoryOrCreate
  - name: nginx-conf
    configMap:
      name: kelbi-cdn-nginx-conf
volumeMounts:
  - name: "static"
    mountPath: /data/assets
  - name: nginx-conf
    mountPath: "/etc/nginx"
    readOnly: true
  - name: cache-dirs
    mountPath: "/tmp/nginx"

securityContext:
  runAsNonRoot: false
  runAsUser: 1000
  fsGroup: 1000